<!-- 定义导航栏 -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <div class="welcome fl">欢迎来到校园二手市场!
        <font color="#0000FF"></font> </div>
        <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
            <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li><a href="ShowItems" class="nav-link px-2 link-secondary">商品展示</a></li>
                <li><a href="/recommend" class="nav-link px-2 link-dark">商品推荐</a></li>
                <li><a href="/myevaluate" class="nav-link px-2 link-dark">我的评价</a></li>
                <li><a href="/visualize" class="nav-link px-2 link-dark">可视化大屏</a></li>
                {#        <li><a href="#" class="nav-link px-2 link-dark">About</a></li>#}
            </ul>
            {#                判断是否已经登录#}
            {% if request.session.user_name|default:'' != '' %}
                {#                    default过滤器进行判断如果request.session.user_name不等于空字符串则用户登陆状态为true#}
                {#                    也就是说当用户为已登陆状态时则显示用户名#}
                {#                    class="login_info fl"#}
                <div class="justify-content-right text-end">
                    <font color="#ff4500">{{ request.session.user_name }}</font>
                    <em><a href="http://127.0.0.1:8000/">退出</a></em>
                </div>
                {% else %}
                <div class="col-md-3 text-end">
                    <button type="button" class="btn btn-outline-primary me-2">Login</button>
                    <button type="button" class="btn btn-primary">Sign-up</button>
                </div>
            {% endif %}
        </header>
    </div>
</nav>



